infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/crash.log

infra/*.tfvars
infra/environments/*.tfvars

infra/lambda/build.zip

.DS_Store

.terraform/
terraform.tfstate*

.gitignore
